{% extends "common/base.html" %}
{% block title %}My Feed{% endblock %}
{% block content%}
{% if alerts %}
<div class="panel panel-default alert-wrapper">
    <div class="panel-heading">
        Context Classes
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                {% for alert in alerts %}
                <tr class="warning">

                    <td>
                        <div class='icon-circle cond-alert'><i class='fa fa-exclamation'></i></div>
                    </td>
                    <td>
                        <div class='warning cond-alert'>&nbsp;A test for {{ alert.condition }} detected possible symptoms.&nbsp;</div>
                    </td>
                    <td>
                        <div class='cond-alert'>
                            <a href="#event{{ alert.id }}">
                                <button type='button' class='btn btn-primary'>Find out more</button>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endif %}
<div class='panel panel-default event-wrapper'>
    <div class='panel-heading'>
        Newsfeed
    </div>
    <div class='panel-body'>
        <ul class='timeline'>
            {% for e in events %}
            <li class='{% cycle '' 'timeline-inverted'%}'>
            <a id='event{{ e.id }}'></a>
            <div class="timeline-badge">
                {% if e.result %}
                <i class="fa fa-exclamation" style="color:#FFF200"></i>
                {% else %}
                <i class="fa fa-check" style='color:#3CFF37'></i>
                {% endif %}
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{ e.condition }} test</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>
                        {{ e.timestamp }}
                    </small>
                    </p>
                </div>
                <div class="timeline-body">
                    {% if e.result %}
                    <p>A test ran for {{ e.condition }} and no symptoms were detected. Awesome!</p>
                    {% else %}
                    <p>A test ran for {{ e.condition }} and possible symptoms were detected. You should consult with your doctor.</p>
                    {% endif %}
                    <div id='event{{ e.id }}_graph'>Area chart to go here</p>
                    </div>
                </div>
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
